<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <header th:fragment="global-header">
      <h1>Library</h1>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li>
            <a href="#">My books</a>
            <ul>
              <li><a th:href="@{/books/history}">History</a></li>
              <li><a th:href="@{/books}">Saved</a></li>
            </ul>
          </li>
          <li>
            <a href="#">My authors</a>
            <ul>
              <li><a th:href="@{/authors/history}">History</a></li>
              <li><a th:href="@{/authors}">Saved</a></li>
            </ul>
          </li>
          <li><a th:href="@{/books/search}">Search Books</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
