<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autores guardados</title>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <form th:action="@{/autores}" method="get">
          <input
            type="number"
            name="livingYear"
            min="-2000"
            max="2030"
            step="1"
            value="2025"
          />
        </form>
      </div>
      <ul>
        <li th:each="author : ${authorList}">
          <h3 th:text="${author.name}"></h3>
          <span th:text="${author.birthYear}"></span>
          <span>---------</span>
          <span th:text="${author.deathYear}"></span>
        </li>
      </ul>
    </main>
  </body>
</html>
